@model PRAWaitList.Models.EmailControlModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmailControlModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMTPDeliveryMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMTPDeliveryMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMTPHost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMTPHost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMTPPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMTPPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMTPUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMTPUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMTPPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMTPPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMTPEnableSSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMTPEnableSSL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMTPSendLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMTPSendLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMTPisActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMTPisActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
