@model IEnumerable<PRAWaitList.Models.ConfigurationSettingsModel>

@{
    ViewBag.Title = "Waitlist Configuration";
}


<div class="jumbotron container">
    <h2>Waitlist Configuration Settings</h2>
    <table class="table-borderless" width="100%">
        <tr>
            <td>
                <text class="largeboldblueunderline">
                    INSTRUCTIONS:
                </text>
                <br />
                <text class="smallblack">
                    •	These are settings used by the the lottery.
                </text>
                <br />
                <text class="smallblack">
                    •	HomeDistrict and HomeState are used in the lottery process to determin priority.  Students in the Home District get priority over others.
                </text>
                <br />
                <text class="smallblack">
                    •	NotifyExpireHours is the number of hours a lottery winner has to respond after being notified.
                </text>
                <br />
            </td>
        </tr>
    </table>
</div>
<!--
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
-->
<table class="table">
    <tr>
        <th>
            Key
        </th>
        <th>
            Value
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.key }) <!--| @Html.ActionLink("Delete", "Delete", new { id=item.key })-->
        </td>
    </tr>
}
    <tr>
        <td>
            <!--@Html.ActionLink("Add Seed Values", "Seed", null, new { @class = "btn btn-primary btn-success" })-->
        </td>
        <td></td>
        <td></td>
    </tr>

</table>
