@model PRAWaitList.Models.NotifyViewModel

<div>
    <h4>Parents</h4>
    <hr />
    @foreach (var parent in Model.ievm.lsParents)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-horizontal  col-md-5">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => parent.FamilyID):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.FamilyID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.LastName):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.EmailAddress):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.EmailAddress)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.Phone1Type):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.Phone1Type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.Phone2Type):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.Phone2Type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.Address2):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.Address2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.StateID):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.StateID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.isPreferredContact):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.isPreferredContact)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.UpdateDate):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.UpdateDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.isActive):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.isActive)
                        </dd>

                    </dl>
                </div>
                <div class="form-horizontal  col-md-5">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => parent.pType):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.pType)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.FirstName):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.Phone1):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.Phone1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.Phone2):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.Phone2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.Address1):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.Address1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.City):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.City)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.ZipCode):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.ZipCode)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.CreateDate):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.CreateDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => parent.UpdateUserID):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => parent.UpdateUserID)
                        </dd>
                    </dl>
                </div>
                <div class="form-horizontal  col-md-2">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Parent Notified", "Notified", new { lmId = Model.lm.Id, sParentName = parent.FirstName + " " + parent.LastName }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Parent Accepted", "Accepted", new { lmId = Model.lm.Id, sParentName = parent.FirstName + " " + parent.LastName }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Parent Declined", "Declined", new { lmId = Model.lm.Id, sParentName = parent.FirstName + " " + parent.LastName }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
