@model PRAWaitList.Models.SchoolViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Schools List";
}

<div class="jumbotron container">
    <h2>Schools List</h2>
    <table class="table-borderless" width="100%">
        <tr>
            <td>
                <text class="largeboldblueunderline">
                    INSTRUCTIONS:
                </text>
                <br />
                <text class="smallblack">
                    •	This is the list of Schools and School Districts in the United States.  You can Edit the existing schools or add new schools manually and upload a csv file that you download from the internet.
                </text>
            </td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink("Add School", "Create") | @Html.ActionLink("Upload Schools File", "UploadFile")


</p>
@using (Html.BeginForm("Index", "SchoolModels", FormMethod.Get))
{
    <table class="table">
        <tr>
            <td>
                <label class="form-control-static">State:</label>
            </td>
            <td>@Html.DropDownListFor(model => model.SearchState,Model.StateList, "- Select a State -", htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                <label class="form-control-static">District:</label>
            </td>
            <td>
                @Html.DropDownListFor(model => model.SearchDistrict, Model.DistrictList, "- Select a District -", htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                <input type="submit" value="Search" class="btn btn-primary btn-success" />
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <label class="text-danger">@ViewBag.ErrorMessage</label>
            </td>
        </tr>
    </table>
    <label class="form-control-static">Page @(Model.lsSchools.PageCount < Model.lsSchools.PageNumber ? 0 : Model.lsSchools.PageNumber) of @Model.lsSchools.PageCount</label>
    <p>
        <label class="form-control-static">Records Per Page: </label>@Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "10", 10 }, { "20", 20 }, { "50", 50 }, { "100", 100 } }, "Key", "Value", Model.lsSchools.PageSize), new { @class = "pro_pag_tf1", id = "pagesizelist", @onchange = "this.form.submit();" })
    </p>

}
@Html.PagedListPager(Model.lsSchools, page => Url.Action("Index", new { page, PageSize = ViewBag.PageSize, SearchDistrict = ViewBag.SearchDistrict, SearchState = ViewBag.SearchState }))
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lsSchools.FirstOrDefault().SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lsSchools.FirstOrDefault().StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lsSchools.FirstOrDefault().AgencyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.lsSchools) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
@section Scripts {
    @if (ViewBag.DisplayMessage != null)
    {
        <script>

            $(document).ready(function () {

                alert('@ViewBag.DisplayMessage');

            });

        </script>

    }
    @Scripts.Render("~/Scripts/SchoolsIndex.js")
}


