@model PRAWaitList.Models.LotteryBatchViewModel

@{
    ViewBag.Title = "Create";
}

<div class="jumbotron container">
    <h2>Create Lottery Batch</h2>
    <table class="table-borderless" width="100%">
        <tr>
            <td>
                <text class="largeboldblueunderline">
                    INSTRUCTIONS:
                </text>
                <br />
                <text class="smallblack">
                    •	Type in a name for the batch.  This should be a unique name that can be used to distinguish this batch from all other lottery batches.
                </text>
                <br />
                <text class="smallblack">
                    •	School Year would be the school year the lottery drawing is for.
                </text>
                <br />
                <text class="smallblack">
                    •	Batch Type is for the Lottery Type.  Kindergarten lottery draw verified kindergarten students for the selected School Year.  Primary will draw for verified students for all other grades for the selected school year.
                </text>
            </td>
        </tr>
    </table>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Lottery Batch</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.lbms[0].SchoolYearID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.lbms[0].SchoolYearID, Model.SchoolYears, "- Select School Year -", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lbms[0].SchoolYearID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lbms[0].BatchGrade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EnumDropDownListFor(model => model.lbms[0].BatchGrade, "- Select a Grade - ", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lbms[0].BatchGrade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
