@model PRAWaitList.Models.NotifyViewModel

@{
    ViewBag.Title = "Notify";
}

<div class="jumbotron container">
    <h2>Notifacation Details</h2>
    <table class="table-borderless" width="100%">
        <tr>
            <td>
                <text class="largeboldblueunderline">
                    INSTRUCTIONS:
                </text>
                <br />
                <text class="smallblack">
                    •	On this page you see the notifacation details for the student.
                </text>
                <br />
                <text class="smallblack">
                    •	Next to each parent are three buttons. Click Notify Parent if you notified the parent but did not get a response.  This will start the clock on their 48 hour hold time.  Click Parent Accepted if they Accept the spot.  Click Parent Declined if they Declined the spot. 
                </text>
                <br />
                <text class="smallblack">
                    •	Clicking any of the buttons will also automatically attach a note.  You can also Type in your own note about the notifacation.  Be sure to click Save Note if you Type in any notes.
                </text>
            </td>
        </tr>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("NotifyFamily", new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Family" } })
        @Html.Partial("NotifyStudent", new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Student" } })
        @Html.Partial("NotifyParents", new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Parents" } })
        @Html.Partial("NotifySiblings", new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Siblings" } })
    </div>
</div>
@using (Html.BeginForm("SaveNotes", "LotteryBatchModels", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.lm.Id)
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.lm.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lm.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lm.Notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Notes" class="btn btn-primary btn-success" id="btnSaveNotes"/>
            </div>
        </div>

    </div>
</div>
}
<p>
    @Html.ActionLink("Back to List", "BatchDetails",new { id = Model.lm.LotteryBatchId})
</p>
