@model PRAWaitList.Models.BatchStatusUpdateViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Batch Status Update";
}


<div class="jumbotron container">
    <h1>Update Students Status</h1>
    <table class="table-borderless" width="100%">
        <tr>
            <td>
                <text class="largeboldblueunderline">
                    INSTRUCTIONS:
                </text>
                <br />
                <text class="smallblack">
                    •	This page allows you to search for students on the waitlist to update students status.
                </text>
                <br />
                <text class="smallblack">
                    •	All Selected Students in the grid below will get there status changed when you click Update Students Status button below.
                </text>
                <br />
                <br />
                <text class="largeboldblueunderline">
                    STATUS KEY:
                </text>
                <br />
                <text class="smallblack">
                    1)	Submitted - This is the status that all records will be in after being added or updated using the emailed Linked.  This status will not be included Lottery Drawings.
                </text>
                <br />
                <text class="smallblack">
                    2)	Verified - This is the status the Registar should set the record to once it has been checked and the record appears Valid.  Verified is the status used for Lottery Drawings.
                </text>
                <br />
                <text class="smallblack">
                    3)	Notified - This is the status set once you click that you have notified a lottery "winner".
                </text>
                <br />
                <text class="smallblack">
                    4)	Expired - This gets set after Notifacation waittime expires.  Default setting is 48 hours.
                </text>
                <br />
                <text class="smallblack">
                    5)	Accepted - This is set when you click that a Lottery "winner" accepts the inventation to school.
                </text>
                <br />
                <text class="smallblack">
                    6)	Declined - This is set when you click that a Lottery "winner" declined the invatation to school.
                </text>
                <br />
                <text class="smallblack">
                    7)	Renewal - This status is set when the renewal emails are sent out to the waitlist users.  Renewals should be sent to Verified waitlist records.
                </text>
            </td>
        </tr>
    </table>
</div>

@using (Html.BeginForm("Index", "BatchStatusUpdate", FormMethod.Get))
{
    <table class="table">
        <tr>
            <td>
                <label class="form-control-static">Apply For Year:</label>
            </td>
            <td>
                @Html.DropDownListFor(model => model.SearchApplyYear, Model.ApplyYearList, "- Select an Apply Year -", htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                <label class="form-control-static">Status:</label>
            </td>
            <td>
                @Html.DropDownListFor(model => model.SearchStatus, Model.StatusList, "- Select a Status -", htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                <input type="submit" value="Search" class="btn btn-primary btn-success" />
            </td>
        </tr>
    </table>
    <label class="form-control-static">Page @(Model.pagedLsStudents.PageCount < Model.pagedLsStudents.PageNumber ? 0 : Model.pagedLsStudents.PageNumber) of @Model.pagedLsStudents.PageCount</label>
    <p>
        <label class="form-control-static">Records Per Page: </label>@Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "10", 10 }, { "20", 20 }, { "50", 50 }, { "100", 100 } }, "Key", "Value", Model.pagedLsStudents.PageSize), new { @class = "pro_pag_tf1", id = "pagesizelist", @onchange = "this.form.submit();" })
    </p>
}
@using (Html.BeginForm("UpdateStudentsStatus", "BatchStatusUpdate", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{

@Html.PagedListPager(Model.pagedLsStudents, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentApplyYear = ViewBag.CurrentApplyYear, currentStatus = ViewBag.CurrentStatus, PageSize = ViewBag.PageSize }))
@Html.HiddenFor(model => model.SearchStatus)
@Html.HiddenFor(model => model.SearchApplyYear)

<div>
    <input type="checkbox" id="checkall" /> <span>Check All</span>
</div>

<div id="checkboxes">
    <table class="table">
        <tr>
            <th nowrap="nowrap">
                Selected
            </th>
            <th nowrap="nowrap">
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm, currentApplyYear = ViewBag.CurrentApplyYear, currentStatus = ViewBag.CurrentStatus, PageSize = ViewBag.PageSize })
            </th>
            <th nowrap="nowrap">
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm, currentApplyYear = ViewBag.CurrentApplyYear, currentStatus = ViewBag.CurrentStatus, PageSize = ViewBag.PageSize })
            </th>
            <th nowrap="nowrap">
                @Html.ActionLink("Birth Date", "Index", new { sortOrder = ViewBag.BirthDateSortParm, currentApplyYear = ViewBag.CurrentApplyYear, currentStatus = ViewBag.CurrentStatus, PageSize = ViewBag.PageSize })
            </th>
            <th nowrap="nowrap">
                @Html.ActionLink("Gender", "Index", new { sortOrder = ViewBag.GenderSortParm, currentApplyYear = ViewBag.CurrentApplyYear, currentStatus = ViewBag.CurrentStatus, PageSize = ViewBag.PageSize })
            </th>
            <th nowrap="nowrap">
                @Html.ActionLink("Current Grade", "Index", new { sortOrder = ViewBag.CurrentGradeSortParm, currentApplyYear = ViewBag.CurrentApplyYear, currentStatus = ViewBag.CurrentStatus, PageSize = ViewBag.PageSize })
            </th>
            <th nowrap="nowrap">
                @Html.ActionLink("Applying For Grade", "Index", new { sortOrder = ViewBag.ApplyingForGradeSortParm, currentApplyYear = ViewBag.CurrentApplyYear, currentStatus = ViewBag.CurrentStatus, PageSize = ViewBag.PageSize })
            </th>
            <th nowrap="nowrap">
                @Html.ActionLink("Applying For Year", "Index", new { sortOrder = ViewBag.ApplyingForYearSortParm, currentApplyYear = ViewBag.CurrentApplyYear, currentStatus = ViewBag.CurrentStatus, PageSize = ViewBag.PageSize })
            </th>
            <th nowrap="nowrap">
                @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm, currentApplyYear = ViewBag.CurrentApplyYear, currentStatus = ViewBag.CurrentStatus, PageSize = ViewBag.PageSize })
            </th>
            <th nowrap="nowrap">
                @Html.ActionLink("Is PRA Sibling", "Index", new { sortOrder = ViewBag.IsPRASibling, currentApplyYear = ViewBag.CurrentApplyYear, currentStatus = ViewBag.CurrentStatus, PageSize = ViewBag.PageSize })
            </th>
        </tr>
        @Html.EditorFor(model => model.displayForPaginglsStudents)



    </table>
</div>
<br />

@Html.ValidationSummary(false, "Update was unsuccessful. Please correct the errors and try again.", new { @class = "text-danger" })
<table class="table">
    <tr>
        <td>New Status:</td>
        <td>@Html.DropDownListFor(model => model.NewStatus, Model.StatusList, "- Select a Status -", htmlAttributes: new { @class = "form-control" })</td>
        <td><input type="submit" name="Update Students Status" id="submit" value="Update Students Status" class="btn btn-primary btn-success"/></td>
    </tr>
</table>
} 

@section scripts {
    @Scripts.Render("~/Scripts/BatchStatusUpdate.js")
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

        function toggleChecked(status) {
            $("#checkboxes input").each(function () {

                // Set the checked status of each to match the
                // checked status of the check all checkbox:
                $(this).prop("checked", status);
            });
        }

        $(document).ready(function () {

            //Set the default value of the global checkbox to true:
            $("#checkall").prop('checked', false);

            // Attach the call to toggleChecked to the
            // click event of the global checkbox:
            $("#checkall").click(function () {
                var status = $("#checkall").prop('checked');
                toggleChecked(status);
            });
        });
</script>
}
