@model PRAWaitList.Models.IntentToEnrollViewModel
@using BotDetect.Web.Mvc;
@using PRAWaitList.DAL;

@{
    ViewBag.Title = "Intent to Enroll";
}
@* include BotDetect layout stylesheet in page <head> *@
@section HeadIncludes {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}
<h2>Intent to Enroll</h2>


@using (Html.BeginForm("Index", "IntentToEnroll", FormMethod.Post, new { @id = "frmCreate" }))
{
    @Html.AntiForgeryToken()
    <p>
        Thank you for considering Platte River Academy.  In order for your child to be included in our lottery selection, you must complete one Intent to Enroll form for each prospective student.
    </p>
    <p>
        Kindergarten lottery is randomly drawn in December; grades 1st through 8th are drawn in March based upon grade level vacancies.
    </p>
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Partial("AddFamily",Model, new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Family" } })
            @Html.Partial("AddStudent",Model, new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Student" } })
            @Html.Partial("AddParent",Model, new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Parents" } })
            @Html.Partial("AddSibling",Model, new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Siblings" } })
        </div>
    </div>


    @* showing Captcha on the form:
    add Captcha validation controls to the protected action View,
    but only if the Captcha hasn't already been solved *@

    MvcCaptcha enrollCaptcha = Utility.GetEnrollCaptcha();
        
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.Captcha(enrollCaptcha)
        </div>

        @Html.Label("Retype the code", new { @class = "col-md-2 control-label", @for = "CaptchaCode" })

        <div class="col-md-4">
            @Html.TextBox("CaptchaCode", null, new { @class = "form-control captchaVal" })
            @Html.ValidationMessage("CaptchaCode", "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            <input id="btnCreate" type="submit" name="AddToList" value="Add to List" class="btn btn-primary btn-success" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br />
        </div>
    </div>

}


@section Scripts {
    <script type='text/javascript'>
            $(function () {
                $("input[type='date']").datepicker().attr('type', 'text');
            });
    </script>
    @if (ViewBag.DisplayMessage != null)
    {
        <script>

            $(document).ready(function () {

                alert('@ViewBag.DisplayMessage');

            });

        </script>

    }
    @Scripts.Render("~/Scripts/IntentToEnroll.js")
}
