@model IEnumerable<PRAWaitList.Models.HearAboutPRAModel>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron container">
    <h2>Hear About PRA List</h2>
    <table class="table-borderless" width="100%">
        <tr>
            <td>
                <text class="largeboldblueunderline">
                    INSTRUCTIONS:
                </text>
                <br />
                <text class="smallblack">
                    •	This is the list of checkboxs used on the Intent to Enroll form.  You can Edit the existing values or add a new one.
                </text>
                <br />
                <text class="smallblack">
                    •	Add Seed Values adds the system default values.
                </text>
            </td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsChecked)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsChecked)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Value }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Value })
        </td>
    </tr>
}
    <tr>
        <td>
            @Html.ActionLink("Add Seed Values", "Seed", null, new { @class = "btn btn-primary btn-success" })
        </td>
        <td></td>
        <td></td>
    </tr>

</table>
