@model PRAWaitList.Models.IntentToEnrollViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("DetailFamily", new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Family" } })
        @Html.Partial("DetailStudent", new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Student" } })
        @Html.Partial("DetailParents", new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Parents" } })
        @Html.Partial("DetailSiblings", new ViewDataDictionary(ViewData) { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Siblings" } })
    </div>
</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.sm.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
